{% extends 'base.html'%} {% block content %}
<div class="row">
    <form method="POST" action="{{ url_for('add_quantity', id=recipe.id) }}">

        <label for="quantity" >Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>

        <label for="quantity_measurement" >Measurement:</label>
        <select id="quantity_measurement" name="quantity_measurement">
            {% for measurement in measurements_list %}
            <option value="{{measurement.id}}" SELECTED>{{measurement.measurement_name}}</option>
            {% endfor %}
        </select>

        <label for="quantity_ingredient" >Ingredient:</label>
        <select id="quantity_ingredient" name="quantity_ingredient">
            {% for ingredient in ingredients_list %}
            <option value="{{ingredient.id}}" SELECTED>{{ingredient.ingredient_name}}</option>
            {% endfor %}
        </select>
        
        <button>Submit</button>
    </form>
</div>
{% endblock %}