{% extends 'base.html'%} {% block content %}
<div class="row">
<!-- Categories -->
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Categories</h5>
    <p>{{ category_count }}</p>
          <ul>
    {% for category in categories_list %}
        <li>{{ category.category_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Category_{{ category.id }}">Edit</button> <a href="{{ url_for('delete_category', id=category.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for category in categories_list %}
      <!-- Modal Structure -->
      <div id="Category_{{ category.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit Category</h1>
            <form method="POST" action="{{ url_for('update_category', id=category.id) }}">

                <label for="category" >Category Name:</label>
                <input type="text" id="category" name="category" value="{{ category.category_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_category>
        <label for="category" >New Category:</label>
        <input type="text" id="category" name="category" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
      </div>
    </div>
<!-- Courses -->
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Courses</h5>
    <p>{{ course_count }}</p>
    <ul>
    {% for course in courses_list %}
         <li>{{ course.course_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Course_{{ course.id }}">Edit</button> <a href="{{ url_for('delete_course', id=course.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for course in courses_list %}
      <!-- Modal Structure -->
      <div id="Course_{{ course.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit course</h1>
            <form method="POST" action="{{ url_for('update_course', id=course.id) }}">

                <label for="course" >course Name:</label>
                <input type="text" id="course" name="course" value="{{ course.course_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_course>
        <label for="course" >New Course:</label>
        <input type="text" id="course" name="course" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Cuisines</h5>
    <p>{{ cuisine_count }}</p>
    <ul>
    {% for cuisine in cuisines_list %}
        <li>{{ cuisine.cuisine_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Cuisine_{{ cuisine.id }}">Edit</button> <a href="{{ url_for('delete_cuisine', id=cuisine.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for cuisine in cuisines_list %}
      <!-- Modal Structure -->
      <div id="Cuisine_{{ cuisine.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit cuisine</h1>
            <form method="POST" action="{{ url_for('update_cuisine', id=cuisine.id) }}">

                <label for="cuisine" >cuisine Name:</label>
                <input type="text" id="cuisine" name="cuisine" value="{{ cuisine.cuisine_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_cuisine>
        <label for="cuisine" >New Cuisine:</label>
        <input type="text" id="cuisine" name="cuisine" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Countries</h5>
    <p>{{ country_count }}</p>
    <ul>
    {% for country in countries_list %}
        <li>{{ country.country_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Country_{{ country.id }}">Edit</button> <a href="{{ url_for('delete_country', id=country.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for country in countries_list %}
      <!-- Modal Structure -->
      <div id="Country_{{ country.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit country</h1>
            <form method="POST" action="{{ url_for('update_country', id=country.id) }}">

                <label for="country" >country Name:</label>
                <input type="text" id="country" name="country" value="{{ country.country_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_country>
        <label for="country" >New Country:</label>
        <input type="text" id="country" name="country" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Authors</h5>
    <p>{{ author_count }}</p>
    <ul>
    {% for author in authors_list %}
        <li>{{ author.author_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Author_{{ author.id }}">Edit</button> <a href="{{ url_for('delete_author', id=author.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for author in authors_list %}
      <!-- Modal Structure -->
      <div id="Author_{{ author.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit author</h1>
            <form method="POST" action="{{ url_for('update_author', id=author.id) }}">

                <label for="author" >author Name:</label>
                <input type="text" id="author" name="author" value="{{ author.author_name }}" required>
                
                <select id="author_country" name="author_country">
                {% for country in countries_list %}
                <option value="{{country.id}}" {% if country.id==author.country_id %} SELECTED{% endif %}>{{country.country_name}}</option>
                {% endfor %}
            </select>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_author>
        <label for="author" >New Author Name:</label>
        <input type="text" id="author" name="author" required>
        <label for="author_country" >New Author Country:</label>
        <!-- <input type="text" id="author_country" name="author_country" required> -->
        <select id="author_country" name="author_country">
            {% for country in countries_list %}
            <option value="{{country.id}}" SELECTED>{{country.country_name}}</option>
            {% endfor %}
        </select>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Allergens</h5>
    <p>{{ allergen_count }}</p>
    <ul>
    {% for allergen in allergens_list %}
        <li>{{ allergen.allergen_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Allergen_{{ allergen.id }}">Edit</button> <a href="{{ url_for('delete_allergen', id=allergen.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for allergen in allergens_list %}
      <!-- Modal Structure -->
      <div id="Allergen_{{ allergen.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit allergen</h1>
            <form method="POST" action="{{ url_for('update_allergen', id=allergen.id) }}">

                <label for="allergen" >allergen Name:</label>
                <input type="text" id="allergen" name="allergen" value="{{ allergen.allergen_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_allergen>
        <label for="allergen" >New Allergen:</label>
        <input type="text" id="allergen" name="allergen" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Dietaries</h5>
    <p>{{ dietary_count }}</p>
    <ul>
    {% for dietary in dietaries_list %}
        <li>{{ dietary.dietary_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Dietary_{{ dietary.id }}">Edit</button> <a href="{{ url_for('delete_dietary', id=dietary.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for dietary in dietaries_list %}
      <!-- Modal Structure -->
      <div id="Dietary_{{ dietary.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit dietary</h1>
            <form method="POST" action="{{ url_for('update_dietary', id=dietary.id) }}">

                <label for="dietary" >dietary Name:</label>
                <input type="text" id="dietary" name="dietary" value="{{ dietary.dietary_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_dietary>
        <label for="dietary" >New Dietary:</label>
        <input type="text" id="dietary" name="dietary" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Measurements</h5>
    <p>{{ measurement_count }}</p>
    <ul>
    {% for measurement in measurements_list %}
       <li>{{ measurement.measurement_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Measurement_{{ measurement.id }}">Edit</button> <a href="{{ url_for('delete_measurement', id=measurement.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for measurement in measurements_list %}
      <!-- Modal Structure -->
      <div id="Measurement_{{ measurement.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit measurement</h1>
            <form method="POST" action="{{ url_for('update_measurement', id=measurement.id) }}">

                <label for="measurement" >measurement Name:</label>
                <input type="text" id="measurement" name="measurement" value="{{ measurement.measurement_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
    <form method="POST" action=/add_measurement>
        <label for="measurement" >New Measurement:</label>
        <input type="text" id="measurement" name="measurement" required>
        <button class="waves-effect waves-light btn-small">Add</button>
    </form>
        </span>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel teal lighten-5">
        <h5>Ingredients</h5>
        <p>{{ ingredient_count }}</p>
        <ul>
        {% for ingredient in ingredients_list %}
            <li>{{ ingredient.ingredient_name }} <!-- Modal Trigger --><button class="waves-effect waves-light btn modal-trigger" data-target="Ingredient_{{ ingredient.id }}">Edit</button> <a href="{{ url_for('delete_ingredient', id=ingredient.id) }}">Delete</a></li>
    {% endfor %}
    </ul>
          
    {% for ingredient in ingredients_list %}
      <!-- Modal Structure -->
      <div id="Ingredient_{{ ingredient.id }}" class="modal">
        <div class="modal-content">
          <h1>Edit ingredient</h1>
            <form method="POST" action="{{ url_for('update_ingredient', id=ingredient.id) }}">

                <label for="ingredient" >ingredient Name:</label>
                <input type="text" id="ingredient" name="ingredient" value="{{ ingredient.ingredient_name }}" required>

                <button>Submit</button>
            </form>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
        </div>
      </div>
      {% endfor %}
        <form method="POST" action=/add_ingredient>
            <label for="ingredient" >New Ingredient:</label>
            <input type="text" id="ingredient" name="ingredient" required>
            <button class="waves-effect waves-light btn-small">Add</button>
        </form>
        </span>
      </div>
    </div>
  </div>
    
{% endblock %}