{% extends 'base.html'%} {% block content %}
<div class="card-panel blue-grey lighten-5">
    <div class="row">
        <h1>{{ recipe.recipe_name }}</h1>
        <p>{{ recipe.recipe_description }}</p>
        <div class="col s12 m8">
            <p>Category: {{ recipe.category.category_name }}</p>
            <p>Course: {{ recipe.course.course_name }}</p>
            <p>Cuisine: {{ recipe.cuisine.cuisine_name }}</p>
            <p>Author: {{ recipe.author.author_name }}</p>
        </div>
        <div class="col s12 m4">
            <p>Preparation Time: {{ recipe.preparation_time }} Mins</p>
            <p>Cooking Time: {{ recipe.cooking_time }} mins</p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
    </div>
    <div class="row">
        <h3>Ingredients</h3>
        <a class="btn-floating btn-large waves-effect waves-light green" href="{{ url_for('add_quantity', id=recipe.id) }}"><i class="material-icons">add</i></a>
        {% for quantity in quantity_list %}
        <p>{{ quantity.quantity }} {{ quantity.measurement.measurement_name }} {{ quantity.ingredient.ingredient_name }}</p><a class="btn-floating btn-large waves-effect waves-light blue" href="{{ url_for('edit_quantity', id=quantity.id) }}"><i class="material-icons">edit</i></a> <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('delete_quantity', id=quantity.id) }}" onclick="M.toast({html: 'Ingredient Deleted!'})"><i class="material-icons">delete</i></a>
        {% endfor %}
    </div>
    <div class="row">
        <h3>Method</h3>
        <a class="btn-floating btn-large waves-effect waves-light green" href="{{ url_for('add_method', id=recipe.id) }}"><i class="material-icons">add</i></a>
        {% for method in method_list %}
        <p>{{ method.method_description }}</p>
        <a class="btn-floating btn-large waves-effect waves-light blue" href="{{ url_for('edit_method', id=method.id) }}"><i class="material-icons">edit</i></a> <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('delete_method', id=method.id) }}" onclick="M.toast({html: 'Method Deleted!'})"><i class="material-icons">delete</i></a>
        {% endfor %}
    </div>
</div>
{% endblock %}