{% extends 'base.html'%} {% block content %}
<div class="row">
    <a href="{{ url_for('recipe_list_filtered') }}" class="waves-effect waves-light btn-flat"><i class="material-icons left">filter_list</i>Filter List</a></li>
    <p>{{ recipe_count }}</p>
    <ul class="collapsible">
    {% for recipe in recipes_list %}
        <li>
             
        <div class="collapsible-header"><i class="material-icons">expand_more</i>{{ recipe.recipe_name }} <a href="{{ url_for('recipe_detail', id=recipe.id) }}"><i class="material-icons">navigate_next</i></a>
        </div>
        <div class="collapsible-body">
            {% if recipe.image_url %}
            <img class="materialboxed" src="{{ recipe.image_url }}" alt="{{ recipe.image_filename }}" style="width:25%;height:150px;">
            {% endif %}
            <span>{{ recipe.recipe_description }}</span>
            <a href="{{ url_for('edit_recipe', id=recipe.id) }}"><i class="material-icons">edit</i></a> 
            <a href="{{ url_for('delete_recipe', id=recipe.id) }}" onclick="M.toast({html: 'Recipe Deleted!'})"><i class="material-icons">delete</i></a></div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}