{% extends 'base.html'%} {% block content %}
<div class="card-panel blue-grey lighten-5">
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul class=flashes>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <div class="row">
        <h1>{{ recipe.recipe_name }}</h1>
        <p>{{ recipe.recipe_description }}</p>
        {% if recipe.user %}
        <p>Submitted by: {{ recipe.user.username }}</p>
        {% endif %}
        {% if recipe.image_url %}
        <img class="materialboxed" src="{{ recipe.image_url }}" alt="{{ recipe.image_filename }}" style="width:100%;height:450px;">
        {% endif %}
        <div class="col s12 m8">
            <p>Category: {{ recipe.category.category_name }}</p>
            <p>Course: {{ recipe.course.course_name }}</p>
            <p>Cuisine: {{ recipe.cuisine.cuisine_name }}</p>
            <p>Author: {{ recipe.author.author_name }}</p>
        </div>
        <div class="col s12 m4">
            <p>Preparation Time: {{ recipe.preparation_time }} Mins</p>
            <p>Cooking Time: {{ recipe.cooking_time }} mins</p>
            <p>Servings: {{ recipe.servings }}</p>
        </div>
        <a class="btn-floating btn waves-effect waves-light yellow" href="{{ url_for('save_recipe', id=recipe.id) }}"><i class="material-icons">star</i></a>
        <a class="btn-floating btn waves-effect waves-light blue" href="{{ url_for('edit_recipe', id=recipe.id) }}"><i class="material-icons">edit</i></a>
        <a class="btn-floating btn waves-effect waves-light red" href="{{ url_for('delete_recipe', id=recipe.id) }}" onclick="M.toast({html: 'Recipe Deleted!'})"><i class="material-icons">delete</i></a>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <h3>Ingredients</h3>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ url_for('add_quantity', id=recipe.id) }}"><i class="material-icons">add</i></a>
            {% for quantity in quantity_list %}
            <div class="row">
                <div class="col s12 m6">
                    <p>{{ quantity.quantity }} {{ quantity.measurement.measurement_name }} {{ quantity.ingredient.ingredient_name }}</p>
                </div>
                <div class="col s12 m6">
                    <a class="btn-floating btn-small waves-effect waves-light blue" href="{{ url_for('edit_quantity', id=quantity.id) }}"><i class="material-icons">edit</i></a> <a class="btn-floating btn-small waves-effect waves-light red" href="{{ url_for('delete_quantity', id=quantity.id) }}" onclick="M.toast({html: 'Ingredient Deleted!'})"><i class="material-icons">delete</i></a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col s12 m8">
            <h3>Method</h3>
            <a class="btn-floating btn-large waves-effect waves-light green" href="{{ url_for('add_method', id=recipe.id) }}"><i class="material-icons">add</i></a>
            {% for method in method_list %}
            <div class="row">
                <div class="col s12 m6">
                    <p>{{ method.method_description }}</p>
                </div>
                <div class="col s12 m6">
                    <a class="btn-floating btn-small waves-effect waves-light blue" href="{{ url_for('edit_method', id=method.id) }}"><i class="material-icons">edit</i></a> <a class="btn-floating btn-small waves-effect waves-light red" href="{{ url_for('delete_method', id=method.id) }}" onclick="M.toast({html: 'Method Deleted!'})"><i class="material-icons">delete</i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}