{% extends 'base.html'%} {% block content %}
<div class="row">
    <h1>{{ recipe.recipe_name }}</h1>
    <p>{{ recipe.recipe_description }}</p>
    <p>{{ recipe.preparation_time }}</p>
    <p>{{ recipe.cooking_time }}</p>
    <p>{{ recipe.servings }}</p>
    <p>{{ recipe.category.category_name }}</p>
    <p>{{ recipe.course.course_name }}</p>
    <p>{{ recipe.cuisine.cuisine_name }}</p>
    <p>{{ recipe.author.author_name }}</p>
</div>
<div class="row">   
    <a href="{{ url_for('add_quantity', id=recipe.id) }}">Add New Ingredient</a> 
    <h3>Ingredients</h3>
    {% for quantity in quantity_list %}
    <p>{{ quantity.quantity }} {{ quantity.measurement.measurement_name }} {{ quantity.ingredient.ingredient_name }}</p><a href="{{ url_for('edit_quantity', id=quantity.id) }}">Edit</a> <a href="{{ url_for('delete_quantity', id=quantity.id) }}">Delete</a>
    {% endfor %}
</div>
<div class="row">  
    <a href="{{ url_for('add_method', id=recipe.id) }}">Add New Method</a>
    <h3>Method</h3>
    {% for method in method_list %}
    <p>{{ method.method_description }}</p>
    <a href="{{ url_for('edit_method', id=method.id) }}">Edit</a> <a href="{{ url_for('delete_method', id=method.id) }}">Delete</a>
    {% endfor %}
</div>
{% endblock %}